{{ define "main"}}

<section class="section has-background-white-ter">
  <div class="container has-text-centered">
    <h2 class="soletco-title pt-5" data-aos="fade-in" data-aos-delay="400" data-aos-duration="1500">
      Page non trouvée
    </h2>
    <p class="soletco-subtitle pb-5" data-aos="fade-in" data-aos-delay="800" data-aos-duration="1500">
      Erreur 404, la page recherchée ne semble pas être par ici
    </p>
    <a class="button is-primary" data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1500" href="{{ "/" | relURL }}">Retourner à l'accueil</a>

  </div>
</section>

{{ end }}