{{ define "main" }}
<main aria-role="main">
  {{ $home_picture := resources.Get "images/Profil_sol_page accueil_1.jpg" }}
  <section class="hero is-home-pictured is-bold is-fullheight" style="background-image: url('{{ $home_picture.Permalink }}')">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-spaced" data-aos="fade-in" data-aos-delay="400" data-aos-duration="2000">
          {{.Site.Data.global.slogan_accueil}}
        </h1>
        <h2 class="subtitle" data-aos="fade-in" data-aos-delay="1400" data-aos-duration="2000">
          {{.Site.Data.global.sous_slogan_accueil}}
        </h2>
      </div>
    </div>
  </section>

  <!-- Prestations -->
  <section class="section">
    <div class="container">
      <div class="has-text-centered my-5">
        <h3 class="title is-3 heading has-text-weight-light">Nos prestations</h3>
        <p class="subtitle is-4 has-text-weight-bold">
          Un seul interlocuteur, du terrain au laboratoire et de la parcelle au territoire, pour vous accompagner dans la
          connaissance de vos sols et l’optimisation de leurs bienfaits rendus
        </p>
      </div>
      <div class="columns">
        {{ $prestations := where .Site.RegularPages "Type" "prestations" }}
        {{ range $index, $element := $prestations }}
          <div class="column" data-aos="fade-up" data-aos-delay="{{ mul $index 800 }}" data-aos-duration="1500">
            <a href="/prestations/#{{ .Params.prestation_key }}" >
              {{ .Render "card"}}
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- Réalisations -->
  <section class="section has-background-white-ter">
    <div class="container">
      <div class="has-text-centered mb-5">
        <h3 class="title is-3 heading has-text-weight-light">Nos réalisations</h3>
        <p class="subtitle is-4 has-text-weight-bold">
          Pour une meilleure connaissance de vos sols,
          du terrain au laboratoire, de la parcelle au territoire
        </p>
      </div>
      <div class="columns">
        {{ $realisations := where (where .Site.RegularPages "Type" "realisations") ".Params.in_home_page" true }}
        {{ range $index, $element := first 3 ( $realisations ) }}
        <div class="column is-4" data-aos="fade-up" data-aos-delay="{{ mul $index 800 }}" data-aos-duration="1500">
          {{ .Render "card"}}
        </div>
        {{ end }}
      </div>
    </div>
    <div class="container mt-4 has-text-right">
      {{ $realisation := .Site.GetPage "/realisations" }}
      <a class="button is-primary" href="{{ $realisation.Permalink }}">Voir toutes les réalisations</a>
    </div>
    
  </section>
  <!-- Recompenses -->
  <section class="section">
    <div class="container">
      <h3 class="title is-3 heading has-text-weight-light has-text-centered mb-5">Récompenses</h3>
      {{- partial "recompenses.html" . -}}
    </div>
  </section>
</main>
{{ end }}