<header class="header">
  <nav class="navbar has-shadow is-spaced">
    <div class="container">
      <div class="navbar-brand brand-title">
        {{ $logo := resources.Get "images/logo_soleco.svg" }}
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
          <img class="" src="{{ $logo.Permalink }}"
            alt="Sol &Co logo">
        </a>
        <div class="navbar-burger burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      
      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-end">
          {{ range .Site.Menus.main }}
            {{ $text := print .Name | safeHTML }}
            <a class="navbar-item" href="{{ .URL }}">{{ $text }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </nav>
</header>