<nav class="level">
  {{ range $resource := .Resources.Match "recompense-**" }}
  {{ $image := $resource.Resize "150x" }}
    <div class="level-item has-text-centered">
      <div>
        <a href="{{ .Params.Url  }}" target='_blank'>
          <figure class="image is-128x128">
            <img src="{{ $image.RelPermalink }}">
          </figure>
          <p class="heading">{{ $image.Title }}</p>
          <!-- <p class="title">{{ $image.Name }}</p> -->
        </a>
      </div>
    </div>
  {{ end }}
</nav>

