<nav class="columns is-multiline is-centered">
  {{ range where .Site.Pages "Type" "recompenses" }}
    <div class="column is-2" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1500">
      <div>
        <a href="{{ .Params.website  }}" title="{{ .Content }}" target='_blank'>
        {{ with .Params.picture }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $resized := $imageResource.Resize "x50" }}
          <figure class="">
              <img src="{{ $resized.RelPermalink }}" alt="{{ $resized.Title }}">
          </figure>
        {{ end }}

          <p class="heading">{{ .Title }}</p>
        </a>
      </div>
    </div>
  {{ end }}
</nav>
