{{ define "main" }}

<!-- Approche -->
{{ $approche := .Site.GetPage "/approche" }}
<div class="container">
  <section class="section">
    <h2 class="title has-text-centered is-spaced mt-5">{{ $approche.Title }}</h3>
    {{ with $approche.Params.subtitle }}
      <p class="subtitle has-text-centered mb-5">{{ . }}</p>
    {{ end }}
  </section>
</div>
{{ with $approche.Resources.GetMatch "image_bandeau" }}
  <figure class="image">
    <img src="{{ .RelPermalink }}">
  </figure>
{{ end }}
<div class="container">
  <section class="section">
    <div class="columns">
      <div class="column is-two-third">
        <div class="content">
          {{ $approche.Content }}
        </div>
      </div>
      <div class="column is-one-third">
        {{ with $approche.Resources.GetMatch "image_droite" }}
        <figure class="image">
          <img src="{{ .RelPermalink }}">
        </figure>
        {{ end }}
      </div>
    </div>
</section>
</div>

<div class="container">
  <section class="section content ">

    <h1>{{ .Title }}</h1>
    <br><br>
    section : {{ .Section }}
    <br>
    kind : {{ .Kind }}
    <br>
    type : {{ .Type }}
    <br><br>
    {{ .Content }}
  </section>
</div>


{{ end }}