{{ define "main" }}

<!-- Approche -->
{{ $approche := .Site.GetPage "/approche" }}
<section class="section has-background-white-ter">
<div class="container">
    <h2 class="title has-text-centered is-spaced mt-5">{{ $approche.Title }}</h2>
    {{ with $approche.Params.subtitle }}
      <p class="subtitle has-text-centered mb-5">{{ . }}</p>
    {{ end }}
  </div>
</section>
{{ with $approche.Params.image_bandeau }}
  {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
  {{ $resized := $imageResource.Fill "1900x500" }}
  <figure class="image">
    <img src="{{ $resized.RelPermalink }}">
  </figure>
{{ end }}
<section class="section has-background-white-ter">
<div class="container">
    <div class="columns">
      <div class="column is-two-third">
        <div class="content">
          {{ $approche.Content }}
        </div>
      </div>
      <div class="column is-one-third">
        {{ with $approche.Params.image_droite }}
          {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
          {{ $resized := $imageResource.Resize "600x" }}
          <figure class="image">
            <img src="{{ $resized.RelPermalink }}">
          </figure>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<!-- Historique -->
{{ $historique := .Site.GetPage "/historique" }}
<section class="section">
  <div class="container">
    <h2 class="title has-text-centered is-spaced mt-5">{{ $historique.Title }}</h2>
    {{ with $historique.Params.subtitle }}
    <p class="subtitle has-text-centered mb-5">{{ . }}</p>
    {{ end }}
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        {{ with $historique.Params.image }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $resized := $imageResource.Resize "600x" }}
        <figure class="image">
          <img src="{{ $resized.RelPermalink }}">
        </figure>
        {{ end }}
      </div>
      <div class="column is-two-third">
        <div class="content">
          {{ $historique.Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Equipe -->
{{ $equipe := .Site.GetPage "/equipe" }}
<section class="section has-background-white-ter">
  <div class="container">
    <h2 class="title has-text-centered is-spaced mt-5">{{ $equipe.Title }}</h2>
    {{ with $equipe.Params.subtitle }}
    <p class="subtitle has-text-centered mb-5">{{ . }}</p>
    {{ end }}
  </div>
  <div class="container">
    <div class="columns is-multiline">
      {{ range $equipe.Pages }}
      <div class="column is-half">
        {{ .Render "card"}}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}