{{ define "main" }}

<!-- Approche -->
{{ $approche := .Site.GetPage "/approche" }}
<section class="section has-background-white-ter">
  <div class="container has-text-centered">
    <h2 class="title is-spaced is-3 heading has-text-weight-light mt-5" data-aos="fade-in" data-aos-delay="400" data-aos-duration="1500">
      {{ $approche.Title }}
    </h2>
    {{ with $approche.Params.subtitle }}
    <p class="subtitle is-4 has-text-weight-bold mb-3" data-aos="fade-in" data-aos-delay="1400" data-aos-duration="1500">
      {{ . }}</p>
    {{ end }}
  </div>
</section>
{{ with $approche.Params.image_bandeau }}
  {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
  {{ $resized := $imageResource.Fill "1900x500 center" }}
  <figure class="image">
    <img src="{{ $resized.RelPermalink }}">
  </figure>
{{ end }}
<section class="section has-background-white-ter">
<div class="container">
    <div class="columns">
      <div class="column is-two-third" data-aos="fade-right" data-aos-delay="0" data-aos-duration="1500">
        <div class="content">
          {{ $approche.Content }}
        </div>
      </div>
      <div class="column is-one-third" data-aos="fade-left" data-aos-delay="0" data-aos-duration="1500">
        {{ with $approche.Params.image_droite }}
          {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
          {{ $resized := $imageResource.Resize "600x" }}
          <figure class="image">
            <img src="{{ $resized.RelPermalink }}">
          </figure>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<!-- Historique -->
{{ $historique := .Site.GetPage "/historique" }}
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-spaced is-3 heading has-text-weight-light mt-5" data-aos="fade-in" data-aos-duration="1500">
      {{ $historique.Title }}
    </h2>
    {{ with $historique.Params.subtitle }}
      <p class="subtitle is-4 has-text-weight-bold mb-5" data-aos="fade-in" data-aos-delay="1000" data-aos-duration="1500">
      {{ . }}</p>
    {{ end }}
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-one-third" data-aos="fade-right" data-aos-delay="0" data-aos-duration="1500">
        {{ with $historique.Params.image }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $resized := $imageResource.Resize "600x" }}
        <figure class="image">
          <img src="{{ $resized.RelPermalink }}">
        </figure>
        {{ end }}
      </div>
      <div class="column is-two-third" data-aos="fade-left" data-aos-delay="0" data-aos-duration="1500">
        <div class="content">
          {{ $historique.Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Equipe -->
{{ $equipe := .Site.GetPage "/equipe" }}
<section class="section has-background-white-ter">
  <div class="container has-text-centered">
    <h2 class="title is-spaced is-3 heading has-text-weight-light mt-5" data-aos="fade-in" data-aos-duration="1500">
      {{ $equipe.Title }}
    </h2>
    {{ with $equipe.Params.subtitle }}
      <p class="subtitle is-4 has-text-weight-bold mb-5" data-aos="fade-in" data-aos-delay="1000" data-aos-duration="1500">
        {{ . }}</p>
    {{ end }}
  </div>
  <div class="container">
    <div class="columns is-multiline">
      {{ range $equipe.Pages }}
      <div class="column is-half" data-aos="fade-in" data-aos-delay="0" data-aos-duration="1500">
        {{ .Render "card"}}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}