<a class="" href="{{ .RelPermalink }}">
  
  <div class="card">
    {{ $image := partial "realisation-picture.html" . }}
    {{ with $image }}
      {{ $pic := $image.Fill "600x400"}}
      <div class="card-image">
        <figure class="image ">
          <img src="{{ $pic.Permalink }}" alt="Photo {{$.Title }}">
        </figure>
      </div>
    {{ end }}
    <div class="card-content">
      <h4 class="title is-5">{{ .Title }}</h4>
      {{ $prestation := where (.Site.RegularPages.RelatedIndices . "prestation_key") "Type" "prestations" }}
      {{ range $prestation }}
      <p><span class="has-text-weight-bold">Prestation : </span>{{ .Title }}</p>
      {{ end }}
      {{ with .Params.partenaire}}
        <p><span class="has-text-weight-bold">Partenaire : </span> {{ .}}</p>
      {{ end }}
      {{ with .Params.execution_date}}
        <p><span class="has-text-weight-bold">Date : </span> {{ . }}</p>
      {{ end }}
    </div>
  </div>
</a>
