<a class="" href="{{ .RelPermalink }}">
  
  <div class="card realisation-card">
    {{ $image := partial "realisation-picture.html" . }}
    {{ with $image }}
      {{ $pic := $image.Fill "600x400"}}
      <div class="card-image">
        <figure class="image ">
          <img src="{{ $pic.Permalink }}" alt="Photo {{$.Title }}">
        </figure>
      </div>
    {{ end }}
    <div class="card-content">
      <h4 class="title is-5">{{ .Title }}</h4>
      <div class="columns is-mobile">
        <div class="column prestation-column is-one-third">
          {{ $prestation := where (.Site.RegularPages.RelatedIndices . "prestation_key") "Type" "prestations" }}
          {{ range $prestation }}
            {{ $image := partial "prestation-icon.html" . }}
            {{ with $image }}
              {{ $pic := $image.Fill "100x100"}}
              <img src="{{ $pic.Permalink }}" alt="icon {{$.Title }}">
            {{ end }}
            <p class="">{{ .Title }}</p>
          {{ end }}
        </div>
        <div class="column">
          {{ with .Params.partenaire}}
            <p><span class="has-text-weight-bold">Partenaire : </span><br> {{ .}}</p>
          {{ end }}
          {{ with .Params.execution_date}}
            <p class="mt-2">
              <i class="far fa-calendar-alt mr-1"></i>
              {{ $dateTime := dateFormat "2006-01-02T15:04:05Z07:00" . }}
              <time datetime="{{ $dateTime }}">{{ dateFormat "02/01/2006" . }}</time>
            </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</a>
