{{ define "main" }}
{{- partial "page-header.html" . -}}
<section class="section ">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        {{ .Content }}
      </div>
      <div class="column">

        {{ $prestation := where (.Site.RegularPages.RelatedIndices . "prestation_key") "Type" "prestations" }}
        {{ range $prestation }}
          <span class="has-text-weight-bold">Prestation : </span>{{ .Title }}
        {{ end }}
        <br>
        {{ with .Params.partenaire}}
          <span class="has-text-weight-bold">Partenaire : </span>{{ .}}
        {{ end }}
        <br>
        {{ with .Params.execution_date}}
          <p><span class="has-text-weight-bold">Date : </span>{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <br><br>
  </div>
</section>

{{ end }}