{{ define "main" }}
{{- partial "page-header.html" . -}}
<section class="section has-background-white-ter">
  <div class="container">
    {{ $image := partial "realisation-picture.html" . }}
    {{ with $image }}
    {{ $pic := $image.Resize "1200x Gaussian"}}
    <div class="container-picture mb-4">

      <img src="{{ $pic.Permalink }}" alt="Photo {{$.Title }}">
    </div>
    {{ end }}

    <div class="columns">
      <div class="column is-three-quarters content">
        <div class="box">
          {{ .Content }}
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="mb-4 has-text-centered">
            {{ $prestation := where (.Site.RegularPages.RelatedIndices . "prestation_key") "Type" "prestations" }}
            {{ range $prestation }}
              {{ with .Params.picture }}
                {{ $image := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                {{ $pic := $image.Fill "100x100"}}
                <img src="{{ $pic.Permalink }}" alt="icon {{$.Title }}">
              {{ end }}
              <p class="is-uppercase is-size-7">{{ .Title }}</p>
            {{ end }}
          </div>

          {{ with .Params.partenaire}}
            <div class="mb-3 metadata">
              <p class="metadata-label">Partenaire</p>
              <p class="has-text-weight-bold">{{ .}}</p>
            </div>
          {{ end }}
          {{ with .Params.execution_date}}
            <p class="mb-3">
            <p class="metadata-label">Date de réalisation</p>
            {{ $dateTime := dateFormat "2006-01-02T15:04:05Z07:00" . }}
            <p class="has-text-weight-bold"><time datetime="{{ $dateTime }}">{{ dateFormat "02/01/2006" . }}</time></p>
          </p>
          {{ end }}
        </div>
      </div>
    </div>
    <br><br>
  </div>
</section>

{{ end }}