// Footer
$footer-background-color: $dark-green;
$footer-color: $text-invert;

// Navbar
$navbar-background-color: $grey-lighter;
$navbar-item-color: $dark-green-light;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $dark-green-light;